pipeline/pl_copy_data.json
{
	"name": "pl_copy_data",
	"properties": {
		"description": "\n",
		"activities": [
			{
				"name": "CopyDataCreateTable",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TruncateSalesTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Fact_InternetSales",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Fact_InternetSales_Copy",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TruncateSalesTable",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseODSCuramStage",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate TABLE [dbo].[Fact_Internet_Sales_ODS]"
						}
					]
				}
			},
			{
				"name": "LogExecutionSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataCreateTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfPipelineExecutions]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"errorcodeloggedtime": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"errordescription": {
							"value": {
								"value": "@string(activity('CopyDataCreateTable').output.executionDetails)\n\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseODSCuramStage",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LogExecutionFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataCreateTable",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfPipelineExecutions]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"errorcodeloggedtime": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"errordescription": {
							"value": {
								"value": "@activity('CopyDataCreateTable').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseODSCuramStage",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "ODS"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-27T18:58:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}