pipeline/pl_LogTesting_Backup.json
{
	"name": "pl_LogTesting_Backup",
	"properties": {
		"activities": [
			{
				"name": "df_Logging_Src_Test",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Logging_Src_Test",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "df_Logging_Src_Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_LogTesting",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rowswritten": "@string(activity('df_Logging_Src_Test').output.runStatus.metrics.tgtDimCustomerTarget.rowsWritten)"
					}
				}
			}
		],
		"variables": {
			"countrows": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-29T17:36:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}