pipeline/pl_LogTesting_w_Execute_Pipeline.json
{
	"name": "pl_LogTesting_w_Execute_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "df_Logging_Src_Test",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Logging_Src_Test",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "df_Logging_Src_Test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_LogTesting_to_Txt",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rowswritten": {
							"value": "@string(activity('df_Logging_Src_Test').output.runStatus.metrics.tgtDimCustomerTarget.rowsWritten)",
							"type": "Expression"
						},
						"status": {
							"value": "@string(activity('df_Logging_Src_Test').output.runStatus.metrics.tgtDimCustomerTarget.progressState)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"globalone": {
				"type": "string",
				"defaultValue": "test"
			}
		},
		"variables": {
			"countrows": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Logging"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-29T17:36:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}