pipeline/pl_POC_CustomerDim.json
{
	"name": "pl_POC_CustomerDim",
	"properties": {
		"activities": [
			{
				"name": "LoadDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT        \n\n\n FORMAT (StartDateTime, 'yyyy-MM-dd hh:mm:ss') as StartDateTime\n\n, FORMAT (EndDateTime, 'yyyy-MM-dd hh:mm:ss') as EndDateTime\n\nFROM dbo.EDW_Fact_Load_Control\nwhere BatchKey= '@{pipeline().parameters.BatchKey}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_EDWLoadControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StartDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoadDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDateTime",
					"value": {
						"value": "@activity('LoadDates').output.StartDateTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EndDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoadDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDateTime",
					"value": {
						"value": "@activity('LoadDates').output.EndDateTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "df_DimCustomer",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "StartDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "EndDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_DimCustomer",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"BatchKey": {
				"type": "string",
				"defaultValue": "B5F7BEFB9510472A97DC7EF27D405EA2"
			}
		},
		"variables": {
			"StartDateTime": {
				"type": "String"
			},
			"EndDateTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}