pipeline/pl_POC_CustomerDim_Working_Backup.json
{
	"name": "pl_POC_CustomerDim_Working_Backup",
	"properties": {
		"activities": [
			{
				"name": "LoadDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT        \nStartDateTime AS NOFormatStartDateTime,\nEndDateTime at time zone 'Central Standard Time' AS NOFormatEndDateTime,\nFORMAT (StartDateTime, 'yyyy-MM-dd hh:mm:ss') as StartDateTime,\nFORMAT (EndDateTime, 'yyyy-MM-dd hh:mm:ss') as EndDateTime\n\nFROM dbo.EDW_Fact_Load_Control\n   WHERE BatchKey= '@{pipeline().parameters.BatchKey}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_EDWLoadControl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "StartDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoadDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDateTime",
					"value": {
						"value": "@activity('LoadDates').output.value[0].StartDateTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EndDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LoadDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDateTime",
					"value": {
						"value": "@activity('LoadDates').output.value[0].EndDateTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "df_DimCustomer",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "StartDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "EndDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_DimCustomer",
						"type": "DataFlowReference",
						"parameters": {
							"dfStartDate": {
								"value": "todate(variables('StartDateTime'))",
								"type": "Expression"
							},
							"dfEndDate": {
								"value": "'@{todate(variables('EndDateTime'))}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"BatchKey": {
				"type": "string",
				"defaultValue": "B5F7BEFB9510472A97DC7EF27D405EA2"
			}
		},
		"variables": {
			"StartDateTime": {
				"type": "String"
			},
			"EndDateTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}