pipeline/pl_Test_Logging_w_SP_Copy_Table.json
{
	"name": "pl_Test_Logging_w_SP_Copy_Table",
	"properties": {
		"description": "Test Logging\n",
		"activities": [
			{
				"name": "TruncateSalesTable",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseODSCuramStage",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate TABLE   [dbo].[Fact_Resellers_Sales_ODS]"
						}
					]
				}
			},
			{
				"name": "LogExecutionDataExtended",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "TruncateSalesTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_adfPipelineExecutions]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"runID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"errorcodeloggedtime": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"errordescription": {
							"value": {
								"value": "@activity('TruncateSalesTable').output.executionDuration",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseODSCuramStage",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "ODS"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-27T15:35:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}